*{
	margin: 0;
	padding: 0;
	font-family: 'Oswald', sans-serif;

	box-sizing: border-box;
	font-size: 20px;
}

nav {
	background-color: #CBD4C2;
	padding: 0.8rem; 
	/*margin-bottom: 2rem;*/ 
	border-bottom: 1px solid grey;
}

.nav p {
	font-weight: bold;
}

.nav a {
	text-decoration: none;
}

nav .nav, .nav p{
	display: inline;
	margin: 1em;
}

#intro {
	padding: 2em;
	background-color: #E5E8E1;
	text-align: center;
}

.header {
	font-size: 100px;
}

#intro p {

	font-size: 30px;
	font-style: italic;
	margin-bottom: 1em;
}

#intro button {
	font-weight: bold;
	background-color: #ABD085;
/*	border-style: none;*/
	padding: 0.8em;
	border-radius: 25px;
}